# .NET
*.exe
*.pdb
*.dll
*.csproj.user
*.suo
bin/
obj/

# JVM
*.class
*.jar

# C/C++
*.o
*.hi

# IDEA
.idea/*
!.idea/scala_settings.xml
!.idea/codeStyleSettings.xml
out/

# General
*.out
*.diff
*.d

# SBT
target/

# Kotlin
*.kotlin_module

# MacOS
.DS_Store
