# .NET
*.exe
*.pdb
*.dll
*.csproj.user
*.suo
bin/
obj/

# JVM
*.class

# C/C++
*.o
*.hi

# IDEA
.idea/*
!.idea/scala_settings.xml
!.idea/codeStyleSettings.xml
out/

# General
*.out
*.diff
*.d

# SBT
target/
